<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Calcul de la réversion</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        <% include partials/bundleCSS.ejs %>

        <script src="https://use.fontawesome.com/68984c879a.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script><!-- pour datepickers -->       
        <script src="/scripts/datepicker-fr.js"></script>
        <script src="/scripts/sidenav.js"></script>
        <script src="/scripts/numeral/numeral.js"></script><!-- Pour formatage des chiffres à l'affichage -->
        <script src="/scripts/EtablissementFactures.js"></script>
    </head>
    <body>
        <!-- Popin 'Détails exclusion réversion' -->
        <div class="Masque Hidden"></div>
        <div class="Popin PopinDetailsExclusionReversion">
            <i class="fa fa-times ClosePopin"></i>
            <div class="TopPart">
                <div class="TitrePopin">Montant(s) exclu(s) de la réversion</div>
                <div>
                    <span class="legend">N° facture :</span><span class="PopinNumfacture"></span> - <span class="legend">Date facture :</span><span class="PopinDatefacture"></span>
                </div>
                <div>
                    <span class="legend">Période de facture :</span><span class="PopinPeriodeFacture"></span>
                </div>
            </div>
            <div class="CentralPart"></div>
            <div class="BottomPart">
                <!-- Mis en commentaire temporairement --><!--
                <button id="Annulation_ModifExclusionReversion"><i class="fa fa-undo"></i>Annuler</button>
                <button id="Validation_ModifExclusionReversion"><i class="fa fa-check"></i>Valider</button>
                -->               
            </div>
        </div>
        <!-- FIN Popin 'Détails exclusion réversion' -->

        <% include partials/menu.ejs %>

        
        <div id="main" class="DetailsReversion"> 

            <div id="IDaccord">2233445566</div>


            <button class="EditionReversion"><i class="fa fa-file-excel-o"></i> Export en .xls</button>

            <div class="bandeauHaut">
                <div>Calcul de réversion</div>
                <div>
                    <div>
                        <div class="NomEntite"><span class="legend">Etablissement : </span><%= dataEtbl.RaisonSociale %> (<%= dataEtbl.CC %>) - <span><%= dataEtbl.CP %> <%= dataEtbl.Ville %></span></div>
                        <div style="margin-top: -2px;">
                            <div class="Periode"><span class="legend">Période : </span>Du <%= dataEtbl.PeriodeDebut %> au <%= dataEtbl.PeriodeFin %></div>
                            <div class="Tx" data-typetaux="Variable">
                                <span class="legend">Taux de réversion : </span><%= dataEtbl.TypeTauxReversion %> (<span id="ValeurTauxRev"><%= dataEtbl.Taux %></span>)
                                <% if(dataEtbl.TauxAvecEDI > 0){ %>
                                + <span class="legend">Taux complémentaire : </span>EDI (<span id="TauxSupplementaire"><%= dataEtbl.TauxAvecEDI %></span>)
                                <% } %>
                                <!--<i class="fa fa-arrow-right"></i><input id="SaisieTauxReversion" class="SearchFieldBandeau" type="text" maxlength="3" >%-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="MoreOptions Hidden">
                <span id="DisplayNonvalidatedLgns"><i class="fa fa-eye-slash"></i> Cacher les lignes validées</span>
            </div>


            <div class="blocContenu">

            <%# console.log(dataFactures); /*TEST*/ %>

            <% /* Début boucle sur catalogues */ 
                for(var catalogue in dataFactures) { 
                    var dataCatalogue = dataFactures[catalogue]; %>

                <div class="FdListe blocCat <%= (catalogue == 'HORS CONTRAT' ? 'HorsContrat' : '') %>" id="<%= catalogue.replace(' ', '') %>">
                    <div class="Enteteliste LgnCat">
                        <!--<div class="Pourcentage"><div class="Pourcent" style="width: 70%;">&nbsp;</div></div>70%<span>-</span>-->
                        <i class="fa fa-minus-square togglefacturesCat"></i><span class="NomCat"><%= catalogue %></span>
                        <span class="NbFactures">(<%= dataCatalogue.nbFactures %> factures)</span>
                     </div>

                <%# for(var fnr in dataCatalogue) { /*Début boucle sur Fournisseurs d un catalogue : VERSION sans nb factures par cat. 31/03/17*/ %>
                <% for(var fnr in dataCatalogue.lgnsFact) { /*Début boucle sur Fournisseurs d un catalogue : VERSION avec nb factures par cat 31/03/17*/ %>
                    
                    <%# (catalogue == 'HORS CONTRAT' ? '<div>' + catalogue + '</div>' : ''){ %>

                    
                    <div class="blocCatFnr">
                        <div>
                            <div class="NomFnr">
                                <div>
                                    <%= fnr %>
                                    <!--<div><div class="Pourcentage small"><div class="Pourcent" style="width: 80%;">&nbsp;</div></div>80%</div>-->
                                </div>
                            </div>

                            <div class="ChampsRev">
                                
                                <table>
                                    <tr>
                                        <th>N° facture</th>
                                        <th>Date facture</th>
                                        <th>Période facture</th>
                                        <th>VA facturé</th>
                                        <th>CA facturé</th>
                                        <th>CA encaissé</th>
                                        <th>Somme réversion exclue</th>
                                        <th>Réversion après exclusions</th>
                                        <th>Pris en compte</th>
                                        <th>Ignoré</th>
                                        <th>Validation</th>
                                    </th>

                                <%# for(var i=0; i < dataFactures[catalogue][fnr].length; i++) {  console.log(fnr + " | " + dataFactures[catalogue][fnr][i].NumeroFacture); } /*Fonctionne !*/ %>
                                
                                <%# dataFactures[catalogue][fnr].forEach(function(facture) { /*VERSION sans nb factures par cat. 31/03/17*/ %>
                                <% dataCatalogue.lgnsFact[fnr].forEach(function(facture) { /*VERSION avec nb factures par cat. 31/03/17*/ %>

                                    <!-- Class 'Validated' dynamique : En commentaire car propriété 'LgnFactureValidated' reste à créer -->
                                    <tr id="<%= (catalogue == 'HORS CONTRAT' ? 'HC_' : '') + facture.NumeroFacture %>" <%#= (facture.LgnFactureValidated == true ? "class='Validated'" : "" ) %> title="catalogue : <%= facture.Catalogue %>" >
                                        <td><a href="<%= facture.UrlFacture %>" class="LienFacture" target="facture"><%= facture.NumeroFacture %></a></td>
                                        <td class="DateFacture"><%= facture.DateFacture %></td>
                                        <td class="PeriodeFacture"><%= facture.PeriodeDebut %> au <%= facture.PeriodeFin %></td>
                                        <td><%= facture.VAFactureAvoir %></td>
                                        <td><%= facture.CAFactureAvoir %></td>
                                        <td>
                                            <div <%#= (facture.LgnFactureValidated == true ? "class='Validated'" : "" ) %> ><%= facture.EtsFactureCAAvoirEncaisseHT %></div>
                                        </td>
                                        <td>
                                            <div <%#= (facture.LgnFactureValidated == true ? "class='Validated'" : "" ) %> >
                                                <span class="SumExclReversion"><%= facture.ExclusReversionCA %></span>
                                                <button class="Bt_AppelPopinDetailsExclusion" <%= (facture.PresenceBoutonDetails ? ' data-idlgnreversionetb=' + facture.ReversionEtablissementLigneId : ' disabled=disabled') %> >Détails</button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="MontantReversion <%#= (facture.LgnFactureValidated == true ? ' Validated' : '' ) %>"><%= facture.MontantReversionCA %></div>
                                        </td>
                                        <td>
                                            <!-- Ici 'data-encaissement' n'a d'interet que quand plusieurs encaissements sur une même facture -->
                                            <div <%#= (facture.LgnFactureValidated == true ? "class='Validated'" : "" ) %> >
                                                <input type="radio" name="radio_<%= facture.NumeroFacture %>" data-encaissement="1" data-cln="PrisEnCompte" <%#= (facture.LgnFactureValidated == true ? "disabled=disabled" : "" ) %> />
                                            </div>
                                        </td>
                                        <td>
                                            <div <%#= (facture.LgnFactureValidated == true ? "class='Validated'" : "" ) %> >
                                                <input type="radio" name="radio_<%= facture.NumeroFacture %>" data-encaissement="1" data-cln="Ignore" <%#= (facture.LgnFactureValidated == true ? "disabled=disabled" : "" ) %> />
                                            </div>
                                        </td>
                                        <td>
                                            <div>- <!--<span>30/03/2017</span>--></div>
                                        </td>
                                    </tr>

                                <% }); %>


                                </table>
                            
                            </div>
                        </div>
                    </div>
                <% } /*Fin boucle sur Fournisseurs d'un catalogue*/ %>


                </div>
            <% } /*Fin boucle sur catalogues*/ %>


            </div>




            <!-- Pied de page -->
            <div class="bandeauBas V2">

                <div class="LgnBandeauBas">
                    <!--
                    div class="IndicateurBandeauBas">
                        <div class="Pourcentage"><div class="Pourcent" style="width: 86%;">&nbsp;</div></div>86%
                    </div>
                    -->
                    <div style="width: 150px;"></div>
                            
                    <div class="Montant">
                        <span>Montant total<br />du VA</span><span><span id="TotalVA"><%= dataEtbl.VAPeriode %></span></span>
                    </div>
                    <div class="Montant">
                        <span title="Somme des réversions calculées sur le CA facturé">Somme prév. réversion</span><span id="SumPrevReversion" title="Somme des réversions calculées sur le CA facturé"><%= dataEtbl.MontantReversionCA %></span>
                    </div>
                    <div class="Montant">
                        <span title="Somme des réversions calculées sur le CA encaissé">Somme totale réversion</span><span id="SumTotaleReversion" title="Somme des réversions calculées sur le CA encaissé"><%= dataEtbl.MontantReversionCAEncaisse %></span>
                    </div>

                    <div class="Bts">
                        <!--<button class="BtCalculPrevisionnel" id="CalculPrevisionnel">Calcul prévisionnel</button>-->                       
                        <button class="BtValidation" id="ValidReversion">Valider la réversion</button>                            
                    </div>
                    
                </div>

            </div>


        </div>

    </body>
</html>