<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Historique des groupes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <% include partials/bundleCSS.ejs %>

        <% include partials/bundleJS_ListeHistoriqueGroupements.ejs %>
    </head>
    <body>
        <div class="Masque Hidden"></div>

        <% include partials/menu.ejs %>
        <% include partials/help.ejs %>
        <% include partials/userInfo.ejs %>

        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main" class="HistoriqueGrps"> 


            <div class="bandeauHaut">
                <div>Historique des groupes</div>
                <div>
                    <div>
                    <form id="FiltresHistoGrp"><!-- autocomplete="off" sur tous les éléments du form pour empecher cache avec FireFox ! -->
                        Filtres :
                        <input class="SearchFieldBandeau" id="EtablFilter" name="Etablissement" placeholder="Tous les établissements" type="text" autocomplete="off">
                        <input class="SearchFieldBandeau" id="GrpFilter" name="Groupe" placeholder="Tous les groupes" type="text" autocomplete="off">
                        <select class="SearchFieldBandeau" id="HelpDateFilter" name="MotDate" disabled="disabled" autocomplete="off">
                            <option value="where">le</option>
                            <option value="from">à partir du</option>
                            <option value="upto">jusqu'au</option>
                            <option value="between">entre le</option>
                        </select>
                        <input type="text" class="SearchFieldBandeau" id="DatepickerStart" name="DateDebut" readonly="readonly" placeholder="Date" autocomplete="off">
                        <i class="fa fa-times-circle" id="DeleteDatepickerStart" ></i>
                        <span id="TxtSpanDates" class="Hidden">et le</span>
                        <input type="text" class="SearchFieldBandeau Hidden" id="DatepickerEnd" name="DateFin" readonly="readonly" placeholder="Date" autocomplete="off">
                        <button type="button" class="ValidSearch"><i class="fa fa-search"></i></button>
                    </form>
                    </div>
                </div>
            </div>

            <div class="blocContenu">       <!--<div id="TESTAVIRER" style="position: absolute; font-weight: bold; font-size:18px; color:red; z-index:1000000 "><%= numtotalpg %> page</div>-->

                <div class="MskTopListe">
                    <i class="fa fa-arrow-circle-left left Hidden"></i>
                    <span class="NumPage" data-maxnbpages="<%= numtotalpg %>">Page <span id="NumPg"><%= numpg %></span></span>
                    <i class="fa fa-arrow-circle-right right"></i>      
                </div>

                <div class="FdListe HistoGroupes">
                    <div class="Enteteliste Lgn Lgn_HG">
                        <div>Etablissement</div>
                        <div>Action</div>
                        <div>Groupe</div>
                        <div>Date</div>
                    </div>
                    

                    <% dataGrp.forEach(function(item) { %>
                                
                    <div class="Lgn Lgn_HG">
                        <div>
                            <div class="NomEtb"><%= item.NomEtablissement %></div>
                            <div class="Small"><%= item.Adresse1 %> <%= item.Adresse2 %> <%= item.Adresse3 %></div>
                            <div class="Small"><%= item.Cp %> - <%= item.Ville %></div>
                        </div>
                        <div>
                            <% if(item.TypeAppartenance == 1) { %>a intégré le groupe<% } 
                             else if(item.TypeAppartenance == 2) { %>a fait partie du groupe
                            <% } %>
                        </div>
                        <div class="NomGrp"><%= item.Libelle_Groupement %></div>
                        <div>
                            <% if(item.TypeAppartenance == 1) { %>depuis le <%= dateFormat(item.DateEntree, 'dd/mm/yyyy') %> <% } 
                             else if(item.TypeAppartenance == 2) { %>entre le <%= dateFormat(item.DateEntree, 'dd/mm/yyyy') %> et le <%= dateFormat(item.DateSortie, 'dd/mm/yyyy') %>
                            <% } %>
                        </div>
                    </div>
                                   
                    <% }) %>

           


                </div>
            <div>


        </div>

    </body>
</html>