<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Recherche des accords de réversion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <% include partials/bundleCSS.ejs %>
        <link href="/styles/erreur.css" rel="stylesheet"><!--Ajouté pour page 'Acces refusé' suite à gestion des droits-->

        <% include partials/bundleJS_RechercheAccords.ejs %>
    </head>
    <body>
        <div class="Masque Hidden"></div>
        <div class="WrapLoader Hidden"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>

        <!-- Popin 'Exclusion fournisseurs' -->
        <% if(limitationAcces == false) { %>

            <% if(typeof listeCatalogues !== 'undefined') { /*Affichage par défaut*/ %>

            <div class="Popin Popin_ExclusionFnrs">
                <i class="fa fa-times ClosePopin"></i>
                <div class="TopPart"></div>
                <div class="CentralPart">
                    <div class="TxtGuide">
                        <i class="fa fa-info-circle"></i>
                        <span>Sélectionnez les fournisseurs à exclure en cochant leur nom, ou bien en cochant un/des catalogue(s). Les 2 procédés peuvent être utilisés conjointement.</span>
                    </div>

                    <div class="EnteteCln">Catalogues</div>
                    <div class="EnteteCln last">Fournisseurs <span><span id="NbFnrSelected">0</span> exclu(s)</span></div>
                
                    <div class="Listes">
                        <div class="Cln" id="LstCats"><!-- autocomplete="off" sur checkbox pour empecher cache avec FireFox ! -->
                            <ul>
                            <% listeCatalogues.forEach(function(cat) { %>
                                <li><span><input type="checkbox" value="" id="<%= cat.CatalogueId %>" disabled="disabled" autocomplete="off"><label for="<%= cat.CatalogueId %>"><%= cat.CatalogueDesignation %></label></span></li>
                            <% }); %>
                            </ul>
                        </div>
                        <div class="Cln" id="LstFnrs">
                            <ul>
                            <% listeFournisseurs.forEach(function(fnr) { %>
                                <li><span><input type="checkbox" value="" id="<%= fnr.CFR %>" data-fnridcat="<%= fnr.CatalogueId %>"  disabled="disabled" autocomplete="off"><label for="<%= fnr.CFR %>"><%= fnr.DesignationFrCatalogue %> (<%= fnr.DesignationCourte %>)</label></span></li>
                            <% }); %>
                            </ul>
                        </div>
                    </div>
                
                </div>
                <div class="BottomPart"> 
                    <button id="AnnulationSelectionFnrs"><i class="fa fa-undo"></i>Annuler</button>
                    <button id="ValidationSelectionFnrs"><i class="fa fa-check"></i>Valider</button>
                </div>
            </div>
            
            <% } %>

        <% } %>
        <!-- FIN Popin 'Exclusion fournisseurs' -->


        <!-- Popin 'Fournisseurs exclus' : Uniquement accessible en mode lecture -->
        <% if(limitationAcces == true) { %>
        <div class="Popin Popin_FnrsExclus">
            <i class="fa fa-times ClosePopin"></i>
            <div class="TopPart"></div>
            <div class="CentralPart"></div>
        </div>
        <% } %>
        <!-- FIN Popin 'Fournisseurs exclus' : Uniquement accessible en mode lecture -->



        <!-- Création Popin pour ajout d'un établissement -->
        <% if(limitationAcces == false) { %>
        <div class="Popin Popin_AjoutEtablissement">
            <i class="fa fa-times ClosePopin"></i>
            <div class="TopPart"></div>
            <div class="CentralPart">
                <div id="BtFiltreEtbsDispos"><span>
                    <span class="fa-stack">
                        <i class="fa fa-filter"></i>
                        <i class="fa fa-ban fa-stack-2x NoFilter Hidden"></i>
                    </span>
                    <span data-label="TxtBt_Filtered">N'afficher que les établissements disponibles</span>
                    <span data-label="TxtBt_NoFilter" class="Hidden" >Afficher tous les établissements</span>
                </span></div>
                <div id="LstAjoutEtbs"><ul></ul></div>
            </div>
            <div class="BottomPart"> 
                <button id="AnnulationAjoutEtbs"><i class="fa fa-undo"></i>Annuler</button>
                <button id="ValidationAjoutEtbs"><i class="fa fa-check"></i>Valider</button>
            </div>
        </div>
        <% } %>
        <!-- FIN 08/12/17 -->



        <% include partials/menu.ejs %>

        <% include partials/userInfo.ejs %>


        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main" class="listeAccordsReversions"> 

            <div class="bandeauHaut">
                <div>Recherche des accords de réversion</div>
                <div>
                    <div>

                        <i class="fa fa-search IconSearch"></i>
                        <input type="text" class="SearchFieldBandeau" id="SearchEtabl" name="" value="" placeholder="Saisissez un nom d'accord, d'établissement ou de groupement, CC, code postal, ville" />
                        <!--<button type="button" class="ValidSearch"><i class="fa fa-search"></i></button>-->
                        
                        <div id="Autocomplete" class="Hidden" data-typeautocomplete="rechercheAccords" >
                            <!-- Légende -->
                            <div class="Lgn AC Legende">
                                <div></div>
                                <div class="AC_NomAccord"><span>Accord</span></div>

                                <div></div>
                                <div class="AC_NomGrp"><span>Groupe</span></div>
                                <div></div>
                                <div class="AC_NomEtbl">Etablissement</div>
                                <div>Période</div>
                            </div>

                            <div id="AC_content"></div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="blocContenu">

                <div class="MskTopListe"></div>

                <div class="FdListe ListeEtbl">
                    <div class="Enteteliste Lgn">
                        <div>Accord <div style="margin-left:15px;">Etablissement (CC)</div> </div>
                        <div>Dest. réversion / Dest. justificatif</div>
                        <div>Période</div>
                        <div>Taux de réversion</div>
                        <div>Taux de rév. avec EDI</div>
                        <div>Réversion<br />validée</div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                <div>


        <% if(typeof dataAccords !== 'undefined') { /*Affichage par défaut*/ %>


            <% dataAccords.forEach(function(item, index) { %>  
               
                <!-- Lgn Accord -->
                <div class="Lgn Lgn_Accord" id="LgnAccord_<%= item.AccordReversionId %>" data-numaccord="<%= item.AccordReversionId %>" data-anneeaccord="<%= item.AnneeReversion %>" data-accordgroupe="<%= item.AccordGroupe %>" ><!-- Modèle de l'id : 'LgnAccord_' + N°accord --> 
                    
                    <div class="Lgn LgnAccordSection" id="LgnAccordSection_<%= item.AccordReversionId %>" ><!-- Modèle de l'id : 'LgnAccordSection_' + N°accord --> 
                        <div>
                            <div class="DataEtbl">
                                <div><span class="NomEtblGrp"><%= item.NomAccordReversion %></span> <div id="NbTotalEtbs">(<span><%= item.ListeEtbInAccord.length %></span> étbl.)</div></div>
                            </div>
                        </div>
                        <div>
                            <div class="DataDest">
                                <div class="Chps">
                                    <div class="NomDest"><%= item.DestinataireContact %></div>
                                    <div class="AdresseDest">
                                        <div class="<%= (item.DestinataireAd1 == "" ? 'Empty' : '') %>"><%= item.DestinataireAd1 %></div>
                                        <div class="<%= (item.DestinataireAd2 == "" ? 'Empty' : '') %>"><%= item.DestinataireAd2 %></div>
                                        <div class="<%= (item.DestinataireAd3 == "" ? 'Empty' : '') %>"><%= item.DestinataireAd3 %></div>
                                    </div>
                                    <div><span class="CPDest"><%= item.DestinataireCP %></span> <span class="VilleDest"><%= item.DestinataireVille %></span></div>
                                </div>
                                <div class="ChpsSaisie Hidden">
                                    <div><input type="text" value="" class="ChpNomDest" /></div>
                                    <div><input type="text" value="" class="ChpAdresseDest1" /></div>
                                    <div><input type="text" value="" class="ChpAdresseDest2" /></div>
                                    <div><input type="text" value="" class="ChpAdresseDest3" /></div>
                                    <div><input type="text" value="" class="ChpCPDest" maxlength="5" /><input type="text" value="" class="ChpVilleDest" /></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="LstAdh_Periode">Du <span class="DateDebut"><%= dateFormat(item.PeriodeDebut, 'dd/mm/yyyy') %></span><br />au <span class="DateFin"><%= dateFormat(item.PeriodeFin, 'dd/mm/yyyy') %></span></div>
                            <div class="LstAdh_SaisiePeriode Hidden">
                                du<input type="text" class="ChpSaisieDateDebut" readonly="readonly" /><br />
                                au<input type="text" class="ChpSaisieDateFin" readonly="readonly" />
                            </div>
                        </div>
                        <div>
                            <div class="LstAdh_TypeTx" data-TypeTx="<%= item.TypeTauxReversionId %>"><%= item.Libelle %></div>
                            <div class="LstAdh_Tx"><span id="TauxReversionFixe" class="<%= (item.TypeTauxReversionId == '2' ? 'NoPercent' : '') %>"><%= item.Taux %></span></div>
                            <select class="LstAdh_saisieTypeTx Hidden">
                                <% listeTypeTaux.forEach(function(i) { %> 
                                <option value="<%= i.TypeTauxReversionId %>"><%= i.Libelle %></option>
                                <% }) %>
                            </select>
                            <div class="LstAdh_SaisieTx Hidden"><input type="text" maxlength="3" />%</div>
                        </div>
                        <div>
                            <div class="LstAdh_TxAdd"><span class="<%= (item.TauxAvecEDI == '' ? 'Empty' : '') %>"><%= item.TauxAvecEDI %></span></div>
                            <div class="LstAdh_SaisieTxAdd Hidden"><input type="text" maxlength="3" placeholder="-" />%</div>
                        </div>
                        <div>
                            <div><span class="LstAdh_RevValidee <%= item.ReversionValidee ? 'oui' : 'non' %>"><%= item.ValidationReversionDate %></span></div>
                        </div>
                        <div></div>
                        <div>
                            <div class="Bt_Undo Hidden"><i class="fa fa-undo"></i></div>
                        </div>
                        <div>
                            <div class="Bt_Valid Hidden"><i class="fa fa-check"></i></div>
                            <div class="Bt_Modif <%= (limitationAcces == true || item.ReversionValidee ? 'Disabled' : '') %>"><i class="fa fa-pencil"></i></div>
                        </div>
                        <div>
                            <div class="Bt_Suppr <%= limitationAcces == true || item.ReversionValidee ? 'Disabled' : '' %>"><i class="fa fa-times"></i></div>
                        </div>
                        <div>
                            <div class="Bt_Add <%= (item.AccordGroupe == false) || limitationAcces || item.ReversionValidee || (isBtAddEtbActive == 1) ? 'Disabled' : '' %>"><i class="fa fa-plus"></i></div>
                        </div>
                    </div>    

                    <!-- Affichage de la liste des établissements de cet accord -->
                    <% if(item.ListeEtbInAccord.length > 0) { %>
                        <% item.ListeEtbInAccord.forEach(function(etb) { %> 

                        <!--Ligne Fnr-->
                        <div class="Lgn LgnEtbSection <%= (etb.EtablissementId == etbId ? 'Selected' : '') %>" id="LgnEtbSection_<%= etb.AccordReversionId %>_<%= etb.EtablissementId %>" data-idetablismt="<%= etb.EtablissementId %>" ><!-- Modèle de l'id : 'LgnAccordSection_' + N°accord + '_' + N°Etabl. -->
                            <div>
                                <!--<i class="fa fa-reply"></i>-->
                                <div class="IndexEtbl"><span><%= ++index %></span></div>
                                <div class="DataEtbl">
                                    <div><span class="NomEtblGrp"><%= etb.RaisonSociale %></span> (<span><%= etb.CC %></span>)</div>
                                    <div>Groupe : <%= etb.LibelleGroupement %></div>
                                </div>
                            </div>
                            <div>
                                <div class="DataDest">    
                                    <div class="Chps">
                                        <div class="NomDest"><%= etb.Contact %></div>
                                        <div class="AdresseDest">
                                            <div class="<%= (etb.Ad1 == "" ? 'Empty' : '') %>"><%= etb.Ad1 %></div>
                                            <div class="<%= (etb.Ad2 == "" ? 'Empty' : '') %>"><%= etb.Ad2 %></div>
                                            <div class="<%= (etb.Ad3 == "" ? 'Empty' : '') %>"><%= etb.Ad3 %></div>
                                        </div>
                                        <div><span class="CPDest"><%= etb.CP %></span> <span class="VilleDest"><%= etb.Ville %></span></div>
                                    </div>
                                    <div class="ChpsSaisie Hidden">
                                        <div><input type="text" value="" class="ChpNomDest" /></div>
                                        <div><input type="text" value="" class="ChpAdresseDest1" /></div>
                                        <div><input type="text" value="" class="ChpAdresseDest2" /></div>
                                        <div><input type="text" value="" class="ChpAdresseDest3" /></div>
                                        <div><input type="text" value="" class="ChpCPDest" maxlength="5" /><input type="text" value="" class="ChpVilleDest" /></div>
                                    </div>
                                </div>
                            </div>
                            <div></div>
                            <div></div>
                            <div>
                            <% if(etb.AvecEDI == true) { %>
                                <div class="LstAdh_TxAdd">
                                    <span class="RappelTxEDIAccord <%= (item.TypeTauxReversionId == '2' ? 'Hidden' : '') %> <%= ((item.TypeTauxReversionId == '1' && item.TauxAvecEDI == '') ? 'Empty' : '') %> <%= (etb.TauxAvecEDI != '' && (etb.TauxAvecEDI != item.TauxAvecEDI)  ? 'Barre' : '') %>"><%= item.TauxAvecEDI %></span>
                                    <span class="SurchargeTxEDI <%= (item.TypeTauxReversionId == '2' ? 'Hidden' : '') %> <%= (etb.TauxAvecEDI == '' || (etb.TauxAvecEDI == item.TauxAvecEDI) ? 'NoPercent' : '') %>"><%= ((etb.TauxAvecEDI != item.TauxAvecEDI) ? etb.TauxAvecEDI : "") %></span>
                                </div>
                                <div class="LstAdh_SaisieTxAdd Hidden"><input type="text" maxlength="3" />%</div>
                            <% } else { %> 
                                <div class="NoEDI <%= (item.TypeTauxReversionId == '2' ? 'Hidden' : '') %>">Pas d'EDI</div> 
                            <% } %>
                            </div>
                            <div></div>
                            <div><% if(limitationAcces == false) { %>
                                <span class="Bt_gestionFnrs Hidden">Définir les marchés</span>
                                <% } else if(limitationAcces == true) { %>
                                <span class="Bt_FnrsExclus">Afficher les fnrs exclus</span>
                                <% } %>
                            </div>
                            <div>
                                <div class="Bt_Undo Hidden"><i class="fa fa-undo"></i></div>
                            </div>
                            <div>    
                                <div class="Bt_Valid Hidden"><i class="fa fa-check"></i></div>
                                <div class="Bt_Modif <%= limitationAcces || item.ReversionValidee ? 'Disabled' : '' %>"><i class="fa fa-pencil"></i></div>
                            </div>
                            <div>
                                <!-- Pour interdire suppr. d'un etb ds un accord avec 1 seul etb -->
                                <div class="Bt_Suppr <%= (item.ListeEtbInAccord.length == 1 || limitationAcces == true || item.ReversionValidee) ? 'Disabled' : '' %>"><i class="fa fa-times"></i></div>
                            </div>
                            <div></div>
                        </div>

                        <% }); %>
                    <% } %>    
                

                </div>

        <% }); %>

      
<% } /**/%>


            </div>

        </div>
        
    </body>
</html>